[submodule "ActiveResourceKit"]
	path = ActiveResourceKit
	url = git://github.com/PioneeringSoftware/ActiveResource.git
[submodule "ActiveModelKit"]
	path = ActiveModelKit
	url = git://github.com/PioneeringSoftware/ActiveModel.git
[submodule "ActiveSupportKit"]
	path = ActiveSupportKit
	url = git://github.com/PioneeringSoftware/ActiveSupport.git
